body{
    margin: 0;
    font-family: tahoma;
    color: #666;
}

h1, h2{
    margin: 0;
    color: #333;
    font-size: 20px;
}

h2{
    font-size: 18px;
}

.left{
    float: left;
}

.right{
    float: right;
}

#total{
    width: 1000px;
    margin: auto;
}

#topo{
    text-align: center;
}

#menu{
    background-color: #222;
    height: 40px;
    margin-bottom: 2px;
}

#menu a{
   color: #fff;
    text-decoration: none;
    margin: 0 35px;
    line-height: 40px;
}

#menu a:hover{
    text-decoration: underline;
}

#logo{
    margin: 30px 0;
}

#banner{
    padding-bottom: 30px;
}

#banner img{
    width: 100%;
}

.texto1{
    width: 60%;
}

.texto2{
   width: 35%; 
}

.texto2 p{
    font-style: italic;
    color: #999;
}

#rodape{
    clear: both;
    width: 1000px;
    text-align: center;
    font-size: 12px;
    padding: 30px 0;
    color: #999;
}